/* DER */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "header__menu  header__logo header__address";
  align-items: center;

  padding: 92px 0 96px 0px;
}

.header__menu {
  grid-area: header__menu;

  padding: 0 0 1px 3px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  border: none;
}

.header__logo {
  grid-area: header__logo;
  display: grid;

  width: 100%;
  padding-left: 4px;
}

.header__address {
  grid-area: header__address;

  justify-self: end;

  padding-right: 50px;
}

/* MAIN: COVER */

.cover {
  position: relative;
  display: grid;

  padding: 165px 50px 50px;

  color: #fff;
  background-image: url(/images/bg.png);
  background-size: cover;
}

.cover__title,
.cover__description {
  z-index: 1;
}

.cover__title {
  display: grid;
  gap: 20px;

  margin-bottom: 106px;

  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;

  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-right: -30px;
}

.aligned-text_left {
  text-align: start;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: end;
}

.cover__description {
  display: flex;
  gap: 20px;
}

.cover__description-text {
  display: flex;
  align-items: center;
  margin-right: auto;

  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;

  word-spacing: 18.5px;
}

.bet-button {
  padding: 11px 32px;

  border: 1px solid #fff;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
}

/* MAIN: LOTS */

.lots {
  margin-top: 180px;
  padding: 0 24px;
}

.lots__heading {
  width: 100%;
  margin-left: 40px;
  margin-bottom: 24px;
  padding-top: 2px;

  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  column-gap: 25px;

  padding-top: 3px;
  padding-bottom: 28px;
}

.card_type_film {
  background-image: url("/images/lot_1.png");
}

.card_type_book {
  background-image: url("/images/lot_2.png");
}

.card_type_picture {
  background-image: url("/images/lot_3.png");
}

.lots__look-more-link {
  margin-left: 39px;
  margin-top: 5px;

  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 2px solid #000;
  color: #000;
}

/* MAIN: ABOUT */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas:
    "about__logo about__title"
    ". about__text";
  padding-top: 120px;
  margin-bottom: -50px;
}

.about__logo {
  grid-area: about__logo;
  height: 240px;
  width: 240px;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  margin-top: 35px;
}

.about__title {
  grid-area: about__title;
  margin-top: 137px;
  margin-left: 48px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about__text {
  grid-area: about__text;

  margin-left: 48px;
  margin-top: 8px;
  padding-right: 28px;

  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about__text-special-style {
  margin-top: 23px;
}

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding-bottom: 45px;
}

.footer__address {
  display: flex;
  flex-direction: column;

  padding-top: 0;
  padding-left: 50px;

  line-height: 24px;
}

.footer__menu {
  font-size: 18px;
  font-weight: 400;

  text-align: center;
}

.footer__menu-link-active {
  line-height: 21px;
}

.footer__menu-link {
  line-height: 21.13px;
}

.footer__social-list {
  display: flex;

  width: 240px;
  margin: 0 50px 0 auto;
  gap: 48px;
}
